In [34]:
import os
import pandas as pd
import numpy as np

In [35]:
input_data_dir = os.path.join("..", "data", "interim")
df = pd.read_csv(os.path.join(input_data_dir, "feature_engineered.csv"))
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,price_per_sqft,semi-furnished,unfurnished
0,2.976180,1.193079,1.410843,1.432564,1.369077,1,0,0,0,1,1.527151,1,0.415930,False,False
1,2.753754,1.685023,1.410843,5.443742,2.520298,1,0,0,0,1,2.691415,0,-0.285074,False,False
2,2.753754,1.961022,0.050477,1.432564,0.217856,1,0,1,0,0,1.527151,1,-0.591323,True,False
3,2.746016,1.221053,1.410843,1.432564,0.217856,1,0,1,0,1,2.691415,1,0.241352,False,False
4,2.561627,1.193079,1.410843,-0.573025,0.217856,1,1,1,0,1,1.527151,0,0.160388,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
534,-2.403192,-1.169109,-1.309888,-0.573025,-0.933364,1,0,1,0,0,1.527151,0,-0.181906,False,True
535,-2.482894,-1.751183,0.050477,-0.573025,-0.933364,0,0,0,0,0,-0.801376,0,0.528760,True,False
536,-2.509271,-0.679068,-1.309888,-0.573025,-0.933364,1,0,0,0,0,-0.801376,0,-0.866300,False,True
537,-2.509271,-1.248562,0.050477,-0.573025,-0.933364,0,0,0,0,0,-0.801376,0,-0.152814,False,False
538,-2.509271,-0.518385,0.050477,-0.573025,0.217856,1,0,0,0,0,-0.801376,0,-1.060784,False,True

In [36]:
X = df.drop(["price"], axis=1)
y = df["price"]

In [37]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (431, 14)
Shape of X_test: (108, 14)
Shape of y_train: (431,)
Shape of y_test: (108,)

In [38]:
X_train

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,price_per_sqft,semi-furnished,unfurnished
461,-0.968354,0.050477,-0.573025,0.217856,1,0,0,0,0,1.527151,0,0.488177,True,False
231,-1.284667,-1.309888,-0.573025,0.217856,1,1,1,0,0,-0.801376,1,1.705335,True,False
446,1.696642,0.050477,-0.573025,0.217856,1,0,0,0,0,1.527151,0,-2.514402,True,False
449,0.409636,0.050477,-0.573025,-0.933364,1,0,1,0,0,-0.801376,0,-1.126977,False,True
448,-0.111445,0.050477,-0.573025,0.217856,1,0,0,0,1,-0.801376,0,-0.506282,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,-0.392729,0.050477,-0.573025,0.217856,1,0,1,1,0,0.362887,0,1.177834,False,False
106,0.893519,1.410843,1.432564,0.217856,1,1,0,1,0,0.362887,0,-0.546362,True,False
270,-0.397899,-1.309888,-0.573025,-0.933364,1,0,1,0,0,-0.801376,0,0.412118,False,False
435,-0.187912,0.050477,-0.573025,0.217856,1,0,0,0,0,-0.801376,0,-0.370967,False,True
102,-0.111445,0.050477,-0.573025,2.520298,1,0,0,0,1,-0.801376,0,0.682292,False,True

In [39]:
output_data_dir = os.path.join("..", "data", "processed")
X_train.to_csv(os.path.join(output_data_dir, "X_train_processed.csv"), index=False)
X_test.to_csv(os.path.join(output_data_dir, "X_test_processed.csv"), index=False)
y_train.to_csv(os.path.join(output_data_dir, "y_train_processed.csv"), index=False)
y_test.to_csv(os.path.join(output_data_dir, "y_test_processed.csv"), index=False)